@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

img{
    width: 100vw;
}
a{
    display: block;
    color: #fff;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    background-color: darkred;
    padding:20px ;
}
a:hover{
    background-color: red;
}